th {
    text-align: left;
    font-weight: normal;
}

#tr {
    text-align: center;
}

#tr2 {
    text-align: right;
}

#tr3 {
    text-align: left;
}

#topo {
    text-align: center;
}

#rodape {
    text-align: center;
}